@charset "UTF-8";
// @import "base/base";

//Pure CSS Imports
@import "node_modules/purecss/build/pure";
@import "node_modules/purecss/build/grids-responsive";

//Helpers
@import "_helpers-css";

/*
CUSTOM CSS CODE HERE
---------------------------------------------------------------------
*/

/* Pure CSS Default Layout */
.page-content {
  max-width: 1200px;
  margin: 0px auto;
}
.site-header {
  background-color: #ccc;
  padding: 10px;
}
.site-footer {
  background-color: #aaa;
  padding: 10px;
}
.footer-col-wrapper {
  max-width: 1200px;
  margin: 0px auto;
}
.menu-toolbar {
  text-align: left;
}
.menu-icon svg {
  background: #fff;
  width: 12px;
  height: 12px;
  padding: 5px;
}
@media screen and (min-width: 35.5em) {
  .menu-toolbar {
    text-align: right;
  }
}
